/* .aTegTelegramButton {
    background-size: cover;
    width: 100px;
    height: 100px;
    display: block;
    background-image: url("../../pages//screenshots/1920-1680px/telegram.png");
}
 */
.aTegTelegramButton:hover {
    border: 2px solid #fadd98;
    border-radius: 50%;
}

@media screen and (max-width: 639px) {
    .aTegTelegramButton:hover {
        border: 0;
    }
}

