.blockDataAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walletButton {
    border-radius: 50%;
    margin-top: 22vh;
    margin-bottom: 20px;
    border: none;
    max-width: 200px;
    max-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../assets/screenshots/1920-1680px/wallet.png');
}

.walletButton:hover {
    border: 2px solid #f9c03a;
}

@media screen and (max-width: 1920px) {
    .walletButton {
        background-image: url('../../assets/screenshots/1920-1680px/wallet.png');
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1679px) {
    .walletButton {
        background-image: url('../../assets/screenshots/1679-1440px/wallet.png');
        width: 165px;
        height: 165px;
        margin-top: 21.9vh;
    }
}

@media screen and (max-width: 1439px) {
    .walletButton {
        background-image: url('../../assets/screenshots/1439-1180px/wallet.png');
        width: 130px;
        height: 130px;
        margin-top: 17.9vh;
    }
}

@media screen and (max-width: 1179px) {
    .walletButton {
        background-image: url('../../assets/screenshots/1179-640px/wallet.png');
        width: 110px;
        height: 110px;
        margin-top: 23vh;
    }
}

@media screen and (max-width: 639px) {
    .walletButton {
        background-image: url('../../assets/screenshots/639-320px/wallet.png');
        width: 95px;
        height: 95px;
        margin-top: 19.5vh;
    }

    .walletButton:hover {
        border: 0;
    }
}